@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                <div id="carousel-slider" data-ride="carousel"
                     class="carousel slide  animate-in" data-anim-type="fade-in-up">

                    <div class="carousel-inner">
                        <div class="item active">

                            <h3>Phạm vi kinh doanh và hoạt động</h3>
                            <p>
                                chuyên nhập khẩu trực tiếp các loại xe tải mà thị trường
                                Việt Nam ưa chuộng nhất phân phối cho các Đại lý toàn Miền Nam
                                và Miền Trung. Chuyên cung cấp các loại xe Tải Chassi – Xe Tải
                                thùng lửng – Tải thùng mui bạt – Tải thùng mui kín và Xe chuyên
                                dụng.
                            </p>
                        </div>
                        <div class="item">
                            <h3>Phương châm kinh doanh và hoạt động</h3>
                            <p>
                                Với mục tiêu luôn luôn tìm kiếm mở rộng thị trường, tăng
                                cường mẫu mã, chủng loại tạo nhiều điều kiện lựa chọn thuận lợi
                                nhất cho Khách Hàng. lấy lợi ích của khách hàng làm tiêu chí
                                phát triển của Cty.
                            </p>
                        </div>

                    </div>


                </div>


            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
            </div>
        </div>
    </div>

</div>

<section id="pricing">
    <div class="container">
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <div class="row db-padding-btm db-attached">

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="light-pricing ">
                            <div class="price">
                                <img src="~/Content/img/portfolio/1.jpg"
                                class="img-responsive img-rounded" />
                            </div>
                            <div class="type">XE MỚI</div>
                            <div class="Info">
                                Những dòng xe tải mới nhất trên thị
                                trường với giá cả hấp dẩn, với nhiều ưu đãi, sở hữu những công
                                nghệ mới nhất trên thị trường, sẽ đáp ứng những yêu cầu khắc khe
                                nhất.
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="light-pricing popular">
                            <div class="price">
                                <img src="~/Content/img/portfolio/2.jpg"
                                class="img-responsive img-rounded" />
                            </div>
                            <div class="type">XE CŨ</div>
                            <div class="Info">
                                Xe đã qua sử dụng chất lượng vẫn còn rất
                                tốt được công ty chúng tôi kiểm tra và tu sửa đảm bảo chất lượng
                                với giá cả rất phù hợp với nhu cầu.
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="light-pricing">
                            <div class="price">
                                <img src="~/Content/img/portfolio/3.jpg"
                                class="img-responsive img-rounded" />
                            </div>
                            <div class="type">PHONG THỦY</div>
                            <div class="Info">
                                Ngoài ra chúng tôi còn tư vấn để khách
                                hàng có thể chọn được những dòng xe phù hợp với túi tiền và đặc
                                biệt là phù hợp với phong thủy của khách hàng để có thể vững
                                bước trên mọi nẻo đường
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>