
@{
    ViewBag.Title = "Mua Xe Trả Góp";
}
<style>
    body {
        line-height: 1.8;
    }

    ul {
        padding-bottom: 20px;
    }

    .multilevel, .multilevel ul ul {
        list-style-type: decimal;
    }

        .multilevel ul {
            list-style-type: disc;
        }
</style>
<section>
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Mua Xe Trả Góp</h3><hr />
            </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="wrapper-box">
                    <p><center><img class="img img-responsive" src="~/Content/img/InstallmentPayment.jpg" /></center></p>
                    <div class="section-info">
                        <p><strong>Những điều cần biết về mua xe trả góp</strong></p>
                        <p>
                            Gồm 3 phần chính:
                            <ul>
                                <li>Giấy tờ cần chuẩn bị để mua xe trả góp: bao gồm cá nhân mua và công ty mua.</li>
                                <li>Quy trình mua xe trả góp.</li>
                                <li>Đơn vị cho vay trả góp: bao gồm ngân hàng và tổ chức cho thuê tài chính.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="section-info">
                        <p><strong>Phần 1: Giấy tờ cần chuẩn bị để mua xe trả góp.</strong></p>
                        <p><strong>Với cá nhân mua :</strong></p>
                        <p>- Giấy tờ tùy thân: Photo hộ khẩu, Photo CMND, Giấy chứng nhận độc thân hoặc giấy kết hôn.</p>
                        <p>-Giầy tờ chứng minh khả năng tài chính:</p>
                        <ul>
                            <li>Chứng minh thu nhập bằng: hợp đồng lao động, bảng lương, sổ tiết kiệm, tài khoản cá nhân.</li>
                            <li>Cá nhân sở hữu tài sản có giá trị: nhà cửa, đất đai, các loại ô tô, máy móc, dây chuyền nhà máy, nhà xưởng,...</li>
                            <li>Hợp đồng cho thuê xe, thuê nhà, cho thuê xưởng, giấy góp vốn, cổ phần, cổ phiếu, trái phiếu.</li>
                            <li>Nếu cá nhân có công ty riêng mà thu nhập chủ yếu từ công ty thì thêm: báo cáo thuế, báo cáo tài chính,
                             bảng lương, bảng chia lợi nhuận từ công ty. Giấy phép đăng ký kinh doanh.</li>
                            <li>Hoá đơn chi phí cá nhân các tháng gần nhất: điện thoại, chi phí giao dịch làm ăn.</li>
                        </ul>
                        <p>Không nhất thiết phải là toàn bộ giấy tờ nêu trên, tùy vào yêu cầu của bên cho vay thì các bác sẽ cung cấp.</p>
                        <p>- Đơn xin vay vốn  và phương án trả lãi (theo mẫu của bên cho vay)</p>
                        <p>Trong trường hợp cá nhân mua không đủ điều kiện, có thể nhờ người thân có khả năng thu nhập tốt làm giấy bảo lãnh cho Ngân hàng thẩm định.</p>
                    </div>
                    <div class="section-info">
                        <p><strong>Với công ty hoặc doanh nghiệp mua xe:</strong></p>
                        <ul>
                            <li>Giấy phép kinh doanh.</li>
                            <li>Giấy bổ nhiệm Giám đốc, bổ nhiệm kế toán trưởng.</li>
                            <li>Giấy đăng ký sử dụng mẫu dấu (bản copy).</li>
                            <li>Mã số thuế.</li>
                            <li>Báo cáo thuế 01 năm gần nhất.</li>
                            <li>Báo cáo hoá đơn VAT 01 năm gần nhất.</li>
                            <li>Điều lệ công ty.</li>
                            <li>Biên bản họp của hội đồng quản trị.</li>
                            <li>Hợp đồng kinh tế đầu ra, đầu vào.</li>
                            <li>Giấy sở hữu cơ sở vật chất: nhà máy, dây chuyền, máy móc, thiết bị, nhà xưởng, ôtô khác.</li>
                            <li>Đơn xin vay vốn và phương án trả lãi</li>
                        </ul>
                        <p>Tùy bên cho vay như thế nào thì các bác sẽ cung cấp giấy tờ theo yêu cầu.</p>
                    </div></br>
                    <div class="section-info">
                         <p><strong>Phần 2: Quy trình mua xe trả góp.</strong></p>
                        <p>Khách hàng chuẩn bị đầy đủ hồ sơ theo hướng dẫn của nhân viên tín dụng.</p>
                        <p>Nhân viên thẩm định đến tận nhà để thẩm định và lấy hồ sơ.Nếu mọi việc tốt đẹp thì tiến hành bước tiếp theo</p>
                        <p>Nếu vay qua ngân hàng:
                            <ul>
                                <li>Sau khi có giấy tài trợ tín dụng và hồ sơ xe, khách hàng phải tiến hành đóng tiền xe và chi phí làm thủ tục đăng ký xe 
                                (đóng tiền cho đại lí bán xe)</li>
                                <li>Khi có biển số xe và có giấy hẹn, khách hàng lên ngân hàng ký hợp đồng tín dụng, đóng phí hành chính và giấy nhận nợ của ngân hàng.</li>
                                <li>Khi tiền chuyển khoản của ngân hàng vào tài khoản của đại lí bán xe thì khách hàng mang theo CMND và giấy giới thiệu lên nhận xe,
                                 ký biên bản bàn giao xe với giấy tờ xe hợp lệ theo pháp luật.</li>
                                <li>Khi có giấy đăng ký xe, Ngân hàng sẽ đi đăng ký và sao y cho khách hàng một bản để sử dụng.</li>
                            </ul>
                        </p>
                        <p>Trường hợp khách mua qua Công ty cho thuê tài chính thì khách hàng đóng tiền xe tại Công ty cho thuê tài chính. 
                        Chi phí đăng ký xe khách hàng phải chịu, Biên bản bàn giao xe 03 bên cùng ký để công ty cho thuê tài chính giải ngân cho hãng xe.</p>
                    </div></br>
                    <div class="section-info">
                        <p><strong>Phần 3: Đơn vị cho vay trả góp: bao gồm ngân hàng và công ty cho thuê tài chính.</strong></p>
                        <p><strong>Ngân hàng:</strong></p>
                        <p>Mức tài trợ thông thường 70% trên tài sản thế chấp.</p>
                        <p>Thời gian tối đa 5 năm.</p>
                        <p>Lãi suất thông thường của NHTMCP : tùy thời điểm,ngân hàng thường là 1%/tháng</p>
                        <p>Chi phí : phí thủ tục hành chánh . 
                        Thủ tục hành chánh tại ngân hàng gồm: phí đảm bảo tài sản, phí mở tài khoản, phí công chứng sao y, cà vẹt xe, mua bảo hiểm thân xe.</p>
                        <p><strong>Công ty cho thuê tài chính:</strong></p>
                        <p>Mức tài trợ tối đa 70% trên tài sản thế chấp.</p>
                        <p>Thời gian tối đa 05 năm.</p>
                        <p>Lãi suất ưu đãi : tùy công ty, thường là 1%.</p>
                        <p>Công ty cho thuê tài chính đứng tên chủ xe, sau khi khách trả hết nợ, công ty sẽ sang tên lại cho khách.</p>
                        <p>Chi phí : phí thủ tục hành chính,thủ tục hành chính tại công ty cho thuê tài chính  gồm:
                         phí đảm bảo tài sản, phí mở tài khỏan, phí công chứng sao y, cà vẹt xe, mua bảo hiểm thân xe trong thời gian vay.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

