
@{
    ViewBag.Title = "Bảo Hiểm";
}
<style>
    body {
        line-height: 1.8;
    }
    ul {
        padding-bottom:20px;
    }
    .multilevel, .multilevel ul ul {
        list-style-type: decimal;
    }

    .multilevel ul {
         list-style-type: disc;
     }
</style>
<section>
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Bảo Hiểm</h3><hr />
            </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="wrapper-box">
                    <div class="section-info ">
                        <p><strong>Kính thưa quý khách hàng!</strong></p>
                        <p>
                            Với tiêu chí ‘’Tân tâm chuyên nghiệp, nhiệt tình phục vụ khách hàng;,
                            Đại lý bảo hiểm tại đây nhằm phục vụ khách hàng một cách nhanh nhất,
                            thuận tiện nhât, tiết kiêm chi phí cũng như mang đến cho khách hàng dịch vụ sửa chữa hoàn hảo nhất
                        </p>
                        <p><center><img class="img img-responsive" src="~/Content/img/insurrance1.jpg" /></center></p>
                        <p>
                            Khi tham gia bảo hiểm, khách hàng sẽ được cung cấp các dịch vụ sau:
                            <ul>
                                <li>Tư vấn và bán sản phẩm bảo hiểm</li>
                                <li>Tiếp nhận và tư vấn bồi thường</li>
                                <li>Sửa chữa, thay thế thiệt hại tại hang</li>
                                <li>Dịch vụ cứu hộ xe cơ giới khẩn cấp</li>
                            </ul>
                        </p>
                        <p>
                            Với đội ngũ nhân viên có kinh nghiệm, năng động, nhiệt tình và tận tâm, Quý khách hàng hoàn toàn yên tâm khi lựa chon Bảo Hiểm tại công ty chúng tôi.
                        </p>
                    </div>
                    <div class="section-info ">
                        <p>
                            Bảo hiểm tại HUYNDAI HÒA PHÚC luôn mang đến một cung cách phụ vụ nhanh nhất cho các yêu cầu bồi thường của khách hàng.
                            Trong các trường hợp phát sinh sự cố có thể dẫn đến yêu cầu bồi thường theo Hợp Đồng Bảo Hiểm, Quý khách vui lòng thực hiện theo các hướng dẫn sau đây:
                        </p>
                        <ul class="multilevel">
                            <li>Thực hiện các biện páp giảm thiểu tổn thất và thu lại những tài sản bị thiệt hại</li>
                            <li>Giữ nguyên hiện trường , hiện trạng của tài sản tổn thất.</li>
                            <li>Lien hệ ngay cho chúng tôi số điện thoại đường dây nóng có trong giấy chứng nhận Bảo Hiểm để được tư vấn các bước cần làm cho yêu cầu bồi thường</li>
                            <li>Điền đầy đủ thong tin và gửi hồ sơ yêu cầu bồi thường cho chúng tôi.</li>
                            <li>
                                Cung cấp cho chúng tôi tất cacr các chứng từ gốc lien quan đến yêu cầu bồi thường:  Giấy đăng ký, sổ đăng kiểm, Giấy chứng nhận bảo hiểm, Chứng minh nhân dân,
                                Giấy phép lái xe, biên bản công an, hình ảnh thiệt hại….sẽ giúp chúng tồi tiến hành nhanh chóng việc giải quyết bồi thường cho quý khách.</br>
                                <ul>
                                    <li>
                                        Trong trường hợp tổn thất / tai nạn liên quan đến bên thứ ba, Quý khách cần:
                                        <ul>
                                            <li>Cung cấp cho bên Bảo Hiểm thông tin về bên thứ ba(Họ tên, Địa chỉ, Số điện thoại liên hệ)</li>
                                            <li>
                                                Bảo lưu vai trò pháp lý của quý khách hàng bằng cách  KHÔNG THỪA NHẬN bất kỳ trách nhiệm bồi hoàn nào.
                                                Hãy gọi cho chúng tôi để hỗ trợ Quý khách hàng giải quyết công bằng và đúng theo thực tế.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Trong trường hợp tổn thất đối với hợp đồng bảo hiểm là xe cơ giới,
                                        Ngoài những việc cần làm ngay theo hướng dẫn trên, Quý khách hàng cần báo ngay cho Công an( trong vòng 24h) nếu có.:</br>
                                        <ul>
                                            <li>Có ngưới bị thương phải cấp cứu đưa vào bệnh viện</li>
                                            <li>Có phương tiện bị mất cắp, cướp hoặc phá hoại</li>
                                            <li>Các trường hợp khách theo yêu cầu của cơ quan công an.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p>
                            Ngay từ khi nhận hồ sơ yêu cầu bồi thường chúng tôi sẽ nhanh chóng kết hợp cùng đội ngũ cố vấn dịch vụ giuaps Quý khách phục hồi thiệt hại một cách thỏa đáng.
                        </p>
                        <p>Đại lý Bảo hiểm chính hang cung cấp cho Quý khách hàng các loại bảo hiểm theo nhu cầu của Quý khách:</p>
                        <ul>
                            <li>Bảo hiểm vật chất thân xe</li>
                            <li>Bảo hiểm thủy kích</li>
                            <li>Bảo hiểm thủy kích</li>
                        </ul>
                    </div>
                    <div class="section-info">
                        <p><strong>Để khách hàng hiểu rõ hơn về các loại Bảo hiểm trên, chúng tôi cung cấp cho Quý khách một số thong tin cần thiết:</strong></p>
                        <p><strong><u>Thủy kích</u></strong> là hiện tượng xe bị nước tràn vào đường hút gió của máy, làm xe chết máy đột ngột. 
                        Trong trường hợp này, nếu người lái xe cố tình đề máy, nước sẽ bị hút sâu vào động cơ dẫn đến hỏng máy. </p>
                        <p>Với điều kiện vận hành bình thường, các piston đang lao lên ép hỗn hợp khí nạp với tốc độ khoảng 1.000 vòng/phút.
                         Tuy nhiên, khi nước tràn vào đường hút gió và chiếm chỗ của hỗn hợp khí nạp và vì nước không chịu nén nên 
                         chính lực ép này đã tạo phản lực làm biến dạng các tay biên và piston. 
                         Khi tay biên cong quá sẽ bị gẫy, đoạn gẫy này sẽ chọc thủng thành động cơ, phá huỷ máy xe.</p>
                        <p><strong>Mô phỏng quá trình nước bị hút vào động cơ và bị nén </strong></p>
                        <p>Nếu mức nước cao sẽ bị hút vào đường hút gió ( khí nạp) của máy và làm máy hỏng, nhẹ thì cong biên, nặng thì hỏng trục cơ, 
                        vỡ block máy. Đây chính là hiện tượng thuỷ kích, khi máy vận hành bình thường, các piston đang lao lên ép hỗn hợp khí nạp với tốc độ khoảng 1000 vòng/phút,
                         do hỗn hợp khí nạp đã bị nước chiếm chỗ và vì nước không chịu nén nên chính lực ép này đã tạo phản lực làm biến dạng cong các tay biên và piston, 
                        khi tay biên cong quá sẽ bị gẫy, đoạn gẫy này sẽ chọc thủng thành động cơ phá huỷ máy xe của bạn.</p>
                        <p>Hậu quả của thủy kích thường rất nặng nề do hư hỏng nằm ở động cơ - trái tim của xe. Chi phí sửa chữa trong trường hợp bị thủy kích thường rất lớn,
                         ít cũng vài chục triệu đồng khi chỉ phải thay tay biên, 
                         nhiều có thể lên tới vài trăm triệu đồng nếu chẳng may phải thay cả cụm động cơ mới và toàn bộ hệ thống điện.
                         Chi phí khắc phục sẽ tỷ lệ thuận với mức độ sang trọng và cao cấp của xe cấp bởi giá phụ tùng chính hãng rất đắt.</p>
                        <p>Chiếc biên ở giữa còn tương đối thẳng, trong khi 2 chiếc còn lại đã bị nước làm cong 
                        Vì vậy bạn phải hiểu rõ đầu ống hút gió của xe bạn ở vị trí nào để phòng tránh.
                         Khi trời mưa to nên để xe nơi cao, nếu phải dùng xe thì chọn các tuyến đường ít ngập. 
                        Còn khi bắt buộc phải lội nước thì: Nếu mức nước cao trên trục láp là mức nguy hiểm, nên tắt công tắc AC – Điều hoà, đi số 1,
                         chạy đều ga ở mức độ vừa phải, giữ cho nổ tròn máy, đi thật chậm và ra hiệu cho xe ngược chiều cùng đi chậm tránh tạo sóng cao.
                         Nếu nước cao đến giữa Padeshock thì tốt nhất là tắt máy, đẩy xe qua nơi nguy hiểm, rồi kiểm tra bầu lọc gió xem có nước vào không.
                         Sau khi khởi động xe và đi, nhớ đạp nhẹ rà phanh một lúc cho má phanh khô để cho phanh có hiệu lực như bình thường. 
                        Với những xe có ống hút cao thì bạn vẫn phải cẩn thận vì nước có thể chui qua các lỗ thông khí trên vỏ cầu xe, 
                        trên thân máy làm hỏng dầu bôi trơn gây thiệt hại về sau. Còn đơn giản hơn là nước sẽ lọt qua các lỗ dưới sàn xe làm ướt nội thất, 
                        chập các linh kiện điện tử lắp dưới sàn</p>
                    </div>
                    <div class="section-info">
                        <p><strong>Một số nguyên tắc cơ bản khi lái xe gặp mưa ngập:</strong></p>
                        <p>Khi buộc phải đi qua vùng ngập nước, nên tháo lọc gió động cơ ra để lấy gió trực tiếp từ khoang động cơ vào vì đây là vị trí cao nhất,
                         tránh lấy gió qua đường khí nạp theo xe vì đây là vị trí thấp hơn. Qua khỏi đoạn ngập lụt, bạn có thể lắp lại lọc gió động cơ như ban đầu.</p>
                        <p>Mức nước an toàn cảnh báo là dưới 25 cm, không vượt qua tâm bánh xe, ở trên mức đó bạn không nên đi qua. Bên cạnh đó, 
                        đặc biệt chú ý khi có xe chạy cùng chiều và ngược chiều vì có thể xảy ra hiện tượng tạo sóng, làm nước dâng cao hơn và tăng nguy cơ nước tràn vào đường nạp gió,
                         vào lọc gió động cơ</p>
                        <p>Khi đi qua vùng ngập, nên tắt công tắc điều hòa (nút AC), đi số 1, chạy đều ga ở mức độ vừa phải, giữ cho nổ tròn máy, lái điềm tĩnh. 
                        Với xe số tự động, chuyển sang chế độ bán tự động và để ở số 1. Nếu để nguyên, xe sẽ tự sang số 2 khiến ga bị yếu,
                         dẫn tới nước tràn vào động cơ thông qua ống pô. Chú ý không nên đạp côn xe số sàn khi qua chỗ ngập để tránh trường hợp chết máy.</p>
                        <p>Nên hạn chế đạp thốc ga vì việc tăng ga mạnh sẽ khiến nước tràn qua lưới tản nhiệt, đổ vào ống hút. Ngoài ra, khi tăng ga đột ngột vòng tua máy lên cao,
                         nếu nước vào sẽ khiến hiện tượng thủy kích mạnh hơn, dẫn tới cong tay biên.</p>
                        <p>Khi đã đi qua chỗ ngập, bạn cần đi tiếp một đoạn, rà phanh để loại bớt nước trên đĩa. Sau đó xuống kiểm tra lại động cơ, gầm xe</p>
                        <p>Nếu xe bị tắt máy đột ngột giữa vùng ngập, bạn tuyệt đối không tìm cách khởi động lại, nên rút chìa khoá điện, đẩy xe vị trí cao và gọi ngay cứu hộ. 
                        Với mỗi xe khác nhau thì việc xử lý sự cố sau khi ngập nước cũng khác nhau, vì thế đừng nên tìm cách tự sửa nếu bạn không có chuyên môn kỹ thuật</p>
                        <p>Khi gọi cứu hộ, tài xế cũng lưu ý nếu xe trang bị số tự động, hệ thống tự động chống trượt, tự động cài cầu, 
                        tự động ổn định chống lật hoặc dẫn động 4 bánh toàn thời gian thì chỉ nên kéo xe bằng xe bàn (4 bánh không quay). </p>
                        <p>Ngoài ra, không nên mở cửa ngay khi xe bị chết máy mà cần chú ý tới mức nước. Nếu nước cao hơn phần thấp nhất của cửa ra vào, 
                        tuyệt đối không được mở cửa, vì sẽ làm nước bên ngoài tràn vào làm hư các hệ thống điện tử. Trong trường hợp này, cần mở cửa sổ để ra vào xe.</p>
                    </div>
                    <div class="section-info">
                        <p><strong>Bảo hiểm TNDS cho người ngồi trên xe: </strong>
                        loại bảo hiểm này không yêu cầu bắt buộc phải mua, Khi người sử dụng xe mua loại bảo hiểm này, thì khi xảy ra tai nạn, 
                        nếu người ngồi trên xe bị thương thì cty bảo hiểm sẽ có trách nhiệm đền cho những người này, theo số lượng mà chủ xe đăng ký mua. 
                        Mức phí bảo hiểmnày như sau:</p>
                        <table class="table table-bordered">
                            <thead>
                                <th>Mức trách nhiệm bảo hiểm</th>
                                <th>Xe không kinh doanh vận tải</th>
                                <th>Xe kinh doanh vận tải</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>10 triệu đồng/người/vụ</td>
                                    <td>10.000 đồng/chỗ/năm</td>
                                    <td>15.000 đồng/chỗ/năm</td>
                                </tr>
                            </tbody>
                        </table>
                        <p><strong>+) Đối tượng bảo hiểm</strong></br>Người được bảo hiểm theo loại hình này bao gồm lái, phụ xe, người áp tải xe và những người được chở trên xe.</p>
                        <p><strong>+) Phạm vi bảo hiểm</strong></br>Tai nạn thuộc phạm vi bảo hiểm là những tai nạn xảy ra với người được bảo hiểm có liên quan trực tiếp đến việc sử dụng chiếc xe đó.</p>
                        <p><strong>+) Phí bảo hiểm</strong></br>Theo biểu phí của PVI </br> Phí bảo hiểm = Mức trách nhiệm bảo hiểm x Tỷ lệ phí bảo hiểm x Số chỗ ngồi</p>
                    </div>
                    <div class="section-info">
                        <p><strong>Bảo hiểm vật chất xe:</strong> bảo hiểm này không bắt buộc, tuy nhiên đây là loại bảo hiểm phổ biến, mà hầu như những người sở hữu xe ô tô thường mua.
                            Với loạibảo hiểm này người sở hữu xe có thể bảo đảm cho tài sản của mình là chiếc xe khỏi những tổn thất, khi gặp rủi ro hay sự cố khi sử dụng.</p>
                        <p><strong>+) Đối tượng bảo hiểm</strong></br>Xe cơ giới hoạt động trong lãnh thổ Việt Nam, bao gồm: thân, khung, vỏ, máy móc và các trang thiết bị khác trên xe.</p>
                        <p><strong>+) Phạm vi bảo hiểm</strong></br>Bồi thường cho chủ xe trong các trường hợp sau:</p>
                        <ul>
                            <li>Tai nạn do đâm va, lật đổ,</li>
                            <li>Cháy,nổ, bão lụt, sét đánh,</li>
                            <li>Mất cắp toàn bộ</li>
                            <li>Các rủi ro bất ngờ khác</li>
                        </ul>
                        <p><strong>+) Phí bảo hiểm</strong></br>Theo biểu phí của PVI</p>
                        <table class="table table-bordered">
                            <thead>
                                <th>Bảo hiểm vật chất xe Xe không kinh doanh</th>
                                <th>Bảo hiểm vật chất xe Xe kinh doanh</th>
                                <th>Ghi chú</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Đóng 1,4% giá trị xe</td>
                                    <td>Đóng 1,5% giá trị xe</td>
                                    <td>Xe đã sử dụng dưới 3 năm, còn 85% giá trị trở lên.</td>
                                </tr>
                                <tr>
                                    <td>Đóng 1,6% giá trị xe</td>
                                    <td>Đóng 1,8% giá trị xe</td>
                                    <td>Xe đã sử dụng 3-6 năm, còn 65-85% giá trị.</td>
                                </tr>
                                <tr>
                                    <td>Đóng 1,8% giá trị xe</td>
                                    <td>Đóng 1,9% giá trị xe</td>
                                    <td>Xe đã sử dụng 6-9 năm, còn 50-65% giá trị.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="section-info">
                        <p>* Với các đơn vị có vốn đầu tư liên doanh nước ngoài (Biển số xe thường là LD;NN)
                            </br>- Tham gia toàn bộ xe : Tỷ lệ phí = 3.0% giá trị xe miễn thuế / năm</p>
                        <table class="table table-bordered">
                            <thead>
                                <th>Thời hạn <u>bảo hiểm</u></th>
                                <th>Phí <u>bảo hiểm</u>  </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nếu đóng <u>bảo hiểm</u> trong 2 năm</td>
                                    <td>Giảm 10% phí <u>bảo hiểm</u></td>
                                </tr>
                                <tr>
                                    <td>Nếu đóng <u>bảo hiểm</u> trong 3 năm</td>
                                    <td>Giảm 20% phí <u>bảo hiểm</u></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

