
@{
    ViewBag.Title = "Sửa Chửa";
}

<style>
    body {
        line-height: 1.8;
    }

    ul {
        padding-bottom: 20px;
    }

    .multilevel, .multilevel ul ul {
        list-style-type: decimal;
    }

        .multilevel ul {
            list-style-type: disc;
        }
</style>
<section>
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Sửa Chữa</h3><hr />
            </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="wrapper-box">
                    <div class="section-info">
                        <table>
                            <tr>
                                <td width="30%">
                                    <p>Tư vấn trực tuyến</p>
                                    <p>Hotline: 0909 567 067</p>
                                    <p><strong>Mr Đạt</strong></p>
                                    <p  style="color:red">0909 567 067</p>
                                    <p style="color:red">0907 987 2060</p>
                                </td>
                                <td>
                                    <p>Đến với Gara hyundai là đến với uy tín, cũng là đến với thiết bị công nghệ tiên tiến,
                                     máy chẩn đoán hiện đại nhất của hyundai và sự phục vụ chu đáo nhanh chóng, nhiệt tình của đội ngũ kỹ thuật cao. 
                                    Gara ô tô hyundai thực sự trở thành địa chỉ đáng tin cậy cho sự lựa chọn của bạn về việc sửa chữa, bảo dưỡng, chăm sóc cho chiếc xế yêu của mình.</p>
                                </td>
                            </tr>
                        </table>
                        <p><center><img class="img img-responsive" src="~/Content/img/repair1.jpg"/></center></p>
                        <p><center><img class="img img-responsive" src="~/Content/img/repair2.jpg" /></center></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

