<section id="contact">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Liên Hệ</h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3><strong>Mạng Xã Hội</strong></h3>
                    <p>
                        Theo dõi qua mạng xã hội
                    </p>
                    <div class="social-below">
                        <a href="#" class="btn button-custom btn-custom-two"> Facebook</a>
                        <a href="#" class="btn button-custom btn-custom-two"> Twitter</a>
                        <a href="#" class="btn button-custom btn-custom-two"> Google +</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3><strong>Liên Hệ</strong></h3>
                    <h4><strong>Email : </strong> dat.otohoaphuc@gmail.com </h4>
                    <h4><strong>Hotline : </strong> 0909567067 </h4>
                    <h4><strong>Skype : </strong> Datxyz </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3><strong>Địa Chỉ : </strong></h3>
                    <h4>579 QL 1A, Hố Nai, Trảng Bom, Đồng Nai</h4>

                </div>
            </div>
        </div>
    </div>
</section>
